doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    title= title
  body
    div.container-fluid.outer-container
      div.row.main-heading.text-center
        h1 Members Only
      div.row.inner-container
        div.col-3.side-panel
          ul 
            li 
              a(href="/story/message-list") Show all messages
            if locals.currentUser && locals.currentUser.membershipStatus === "Normal"
              li 
                a(href="") Join Club
            if locals.currentUser && locals.currentUser.isAdmin != true
              li 
                a(href="") Become Admin
            li 
              a(href="/story/message-create") Create new message 
        div.col.main-content
          block content


