:root {
  --content-border-color: rgb(78, 215, 224);
  --main-heading-color: #B46329;
  --body-background-color: #F5F5F5;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: var(--body-background-color);
}

a {
  color: #00B7FF;
}

.main-heading {
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 5px solid var(--content-border-color);
}

.main-heading h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--main-heading-color);
}

.outer-container {
  height: 100%;
}

.inner-container {
  height: 100%;
}

.side-panel {
  border-right: 5px solid var(--content-border-color);
  padding: 20px;
  padding-right: 5px;
  font-size: 20px;
}

.side-panel ul li {
  margin-bottom: 40px;
}

.main-content {
  padding: 20px;
  padding-left: 40px;
}

.content-heading {
  padding-bottom: 20px;
}

.form-division {
  padding: 20px 0 20px 0;
}

input {
  border: none;
  outline: none;
  background-color: var(--body-background-color);
  margin-left: 20px;
  border-bottom: 2px solid black;
  width: 300px;
  color: cadetblue;
}

.login-link {
  margin-top: 100px;
}

.sign-up {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.submit-btn {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}